<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
   <h1 class="page-header">Overview</h1>
   <div class="row placeholders">
      <div class="col-xs-6 col-sm-3 placeholder">
         <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
         <h4>Label</h4>
         <span class="text-muted">Something else</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
         <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
         <h4>Label</h4>
         <span class="text-muted">Something else</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
         <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
         <h4>Label</h4>
         <span class="text-muted">Something else</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
         <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
         <h4>Label</h4>
         <span class="text-muted">Something else</span>
      </div>
</div>
   <h2 class="sub-header">All bills</h2>
   <div class="table-responsive">
      <table class="table table-striped">
         <thead>
            <tr>
               <th>Name</th>
               <th>Flavor</th>
               <th>Floating IP</th>
               <th>Project</th>
               <th>Usage</th>
               <th>Balances</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let instance of instances">
               <td>{{instance.name}}</td>
               <td>{{instance.flavor_name}}</td>
               <td>{{instance.floating_address}}</td>
               <td>{{instance.tenant_name}}</td>
               <td>{{instance.usage_time_day}} days {{instance.usage_time_hour}} hours {{instance.usage_time_minute}} minutes</td>
               <td>baht</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>